GXService/GXService.CardRecognize.Client/Service References/CardTypeParse/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="GXService.CardRecognize.Contract" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GXService.CardRecognize.Contract" />
  <xs:element name="ParseCardType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="GXService.CardRecognize.Contract" minOccurs="0" name="cards" nillable="true" type="q1:ArrayOfCard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseCardTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GXService.CardRecognize.Contract" minOccurs="0" name="ParseCardTypeResult" nillable="true" type="q2:ArrayOfCardType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>